/*Cards container*/
.project-card-container {
    display: grid;
    gap: 1.5em;
}


/*Card and inner container*/
.project-card {
    font-size:1em;
    background-color: var(--ross-background-color-secondary);
    position: relative;
    border-width:0 0 2px 0;
    border-style:solid;
    border-color: var(--ross-border-color);
}
.project-card > article {
    height:100%;
    display: flex;
    flex-direction: column;
}
/*Text area*/
.project-card > article .project-card-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    margin:0 0.6em 0.6em 0.6em;
}
.project-card-info {
    margin-bottom:1.5em;
}
.project-card h3 {
    font-size: 1.5em;
    margin: 0 0 0.5em 0;
}
.project-card h3 a {
    color:inherit;
    text-decoration: none;
}
.project-card:hover h3 a {
    text-decoration: underline;
}
.project-card p {
    font-size: 0.9em;
    line-height:1.3em;
    margin:0;
}
.project-card > article .project-card-text h3 > a::before {
    content:'';
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
/*Image*/
.project-card .project-card-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 0 0.5em 0;
    /* border-radius:5px; */
}
.project-card .project-card-image img {
    width:inherit;
    height:auto;
}
.project-card .project-card-title {
    margin:0.2em 0 0.1em 0;
}
/*Tags*/
.project-card .project-card-tags {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap:0.4em;
    font-size:0.8em;
}
.project-card .project-card-tags > .project-card-tag:not(:last-child)::after {
    content:" | ";
    font-weight:100;
    bottom:0.08em;
    position: relative;
}


/*Media queries*/
@media screen and (max-width: 640px) {
    .project-card-container {
        grid-template-columns: 100%;
    }
    .project-card {
        border-bottom-width:0;
        border-width:0 0 0 2px;
        border-radius:0 7px 7px 0;
    }
    .project-card article {
        flex-direction:row-reverse;
        padding:1em 1em 0.5em 0.7em;
        height:unset;
    }
    .project-card .project-card-image {
        width:25%;
        min-width:80px;
    }
    .project-card .project-card-image > img{
        width:100%;
        height:100%;
        object-fit: cover;
    }
}

@media screen and (min-width: 641px) {
    .project-card-container {
        grid-template-columns: 50% 50%;
    }
}
@media screen and (min-width: 768px) {
    .project-card-container {
        grid-template-columns: 33% 33% 33%;
    }
}
@media screen and (min-width: 1200px) {
    .project-card-container {
        grid-template-columns: 25% 25% 25% 25%;
    }
}